<Configuration>
    <Appenders>
        <Console name="STDOUT" target="SYSTEM_OUT">
            <PatternLayout pattern="%-5p %r %d %c %m%n "/>
        </Console>
    </Appenders>
    <Loggers>
        <logger name="org.silvertunnel_ng.netlib" level="INFO">
            <AppenderRef ref="STDOUT"/>
        </logger>
        <logger name="org.hibernate" level="ERROR">
            <AppenderRef ref="STDOUT"/>
        </logger>
        <Logger name="eu.dl" level="DEBUG">
            <AppenderRef ref="STDOUT"/>
        </Logger>
        <Logger name="eu.dfid" level="DEBUG">
            <AppenderRef ref="STDOUT"/>
        </Logger>
    </Loggers>
</Configuration>